@using Gobln.Pager
@using Gobln.Pager.Mvc
@model Page<Gobln.Pager.Mvc45Test.Models.TestModel1>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutBootstrap4.cshtml";
}

@section Css{
    <link href="~/Content/Bootstrap4WitoutPaging/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/Gobln.Pager.Mvc.css" rel="stylesheet">
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th title="@Html.DescriptionFor(model => model.Date)">
            @Html.DisplayNameFor(model => model.Date)
        </th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
        </tr>
    }
</table>

@Html.Pager(Model, new PagerOptions()
{

})