@using Gobln.Pager
@using Gobln.Pager.Mvc
@model IEnumerable<Gobln.Pager.Mvc45Test.Models.TestModel1>

@{
    ViewBag.Title = "ViewBagTest";
    Layout = "~/Views/Shared/_LayoutBootstrap4.cshtml";
}

@section Css{
    <link href="~/Content/Bootstrap4WitoutPaging/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/Gobln.Pager.Mvc.css" rel="stylesheet">
}

<h2>ViewBagTest</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
        </tr>
    }

</table>

@Html.Pager((IPage)ViewBag.PageInfo)